body {
    background-color: black;
}

.nav,
.top-nav {
    background-color: #1b5e20;
}

.sidenav {
    background-color: #1b5e20;
}

.img1 {

    width: 300px;
    height: 300px;
    padding: 50px;
}

.button {
    max-width: 300px;
}

@media(min-width:600px) {
    .top-nav {
        box-shadow: white;
    }

    .serch {
        display: flex;
        align-items: center;
    }
}

.custom-input {
    color: white;
}